
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="daoImplObj"
	 class="autowireByType.DaoImpl" >
		<property name="config" value="SQLserver" />
	</bean>
	
	<bean id="aService" 
	class="autowireByType.AccountService" 
	autowire="byType" />

	
	
	<bean id="uService" 
	class="autowireByType.UserService" 
	autowire="byType" />
	
	
	<bean id="cService" 
	class="autowireByType.CustomerService" 
	autowire="byType" />
	
    
	<bean id="lService" 
	class="autowireByType.LoanService" 
	autowire="byType" />
	

	<!-- <bean id="daoImplObj1"
	 class="com.springs.autowireByType.DaoImpl" >
		<property name="config" value="SQLserver" />
	</bean>
	 -->
 
</beans>

