
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="aService" 
	class="lifecycle3.AccountService">
		<property name="dbName" value="SQLserver" />
		<property name="dbName1" value="oracle" />
	</bean>

	<bean id="pService" 
	class="lifecycle3.ProductService" />

	<bean id="bService" 
	class="lifecycle3.MyBeanPostProcessor" 
	/> 

</beans>
