<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="dao" 
	class="autowireByName.DaoImpl">
		<property name="config" value="SQLserver" />
	</bean>

	<bean id="uService" 
	class="autowireByName.UserService" 
	autowire="byName" />

	<bean id="aService" 
	class="autowireByName.AccountService" 
	autowire="byName" />

</beans>
